button:focus, button:focus-visible {
    outline: none;
}

.coreContainer {
    font-size: 12px;
    line-height: 1.2;
    color: #333;
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 1090px;

}

