.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.page-wrapper {
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  min-height: calc(100vh - 60px);
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;

  max-width: 1090px;
  margin: 0 auto;
  /* centers page */
}

.page-card {
  width: 100%;
  max-width: 1080px;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
}

/* Base content area */
.content-area {
  margin-top: 60px;
  margin-left: 60px;
  padding: 20px;
  transition: margin-left 0.3s ease, padding 0.3s ease;
}

.content-area.shifted {
  margin-left: 200px;
  padding: 30px;
}